
**/.DS_Store
**/miniprogram/*.js
**/miniprogram/*.wxss
**/miniprogram/components/**/*.js
**/miniprogram/components/**/*.wxss
**/miniprogram/pages/**/*.js
**/miniprogram/pages/**/*.wxss
**/miniprogram/store/**/*.js
**/miniprogram/utils/**/*.js

miniprogram_dist
miniprogram_dev
node_modules
coverage
src/miniprogram_npm